@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: alloyink;
    src: url(./assets/AlloyInk-lgdWw.otf);
}

@font-face {
  font-family: grotesk;
  src: url(./assets/kobuzan-cy-grotesk-grand-dark.otf);
}

.nav-darius {
  font-family: alloyink;
  font-size: 30px;
}

.nav-sec {
  font-size: 20px;
  color: white;
  font-family: grotesk;
}

.book-me {
  font-family: grotesk;
}

.darius-about {
  height: 80vh;
  margin: 0%;
}  

.about-words {
  padding-top: 20%;
  margin-left: 96px;
  font-family: grotesk;
}

.shows {
  background-repeat: no-repeat;
  max-width: 1440px;
}

.show-text {
  font-size: 100px;
  font-family: grotesk;
}